---
const { icon, name } = Astro.props
---

<div>
	<div
		class="mr-2 flex h-20 w-20 justify-center rounded-md bg-linear-to-br from-[#195353] to-[#1a2d2d] p-3 align-middle md:mr-8"
	>
		<img src={icon} alt={name} />
	</div>
</div>
